@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

}

*{
    font-family: "Montserrat", sans-serif;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;

    color: #132a13;
}

body{
    background-color: rgba(118, 200, 147, 1);
    
}

/* HEADER */
header{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(118, 200, 147, .75);

    overflow: hidden;
}

header .content{
    width: 60%;
    height: 80%;
}

.section1{
    height: 10vh;
}
.section1 img{
    height: 15vh;
}

.section2{
    width: 70vw;
    height: 90vh;

    display: flex;
    flex-direction: row;
}

.section2 .left{
    width: 25%;
    height: 100%;

    font-size:calc(12px + 8 * (100vw - 320px) / 880);

    text-align: end;
    user-select: none;
}


.section2 .right{
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-size: xx-large;
    font-weight: 700;

    padding-top: 5vh;
    padding-left: 20px;
}

.section2 .right a{
    width: 60%;
    height: 10.7vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: 1px solid #132a13;

    transition: 1s;
}

.section2 .right a:hover{
    color:rgba(118, 200, 147, 1);
    background-color: #132a13;

    transition: 1s;
}
/* HEADER END */

/* FIRST */
.first{
    width: 90%;
    height: 90vh;

    margin: 5vh 5vw;
    padding: 10vh 5vw;

    display: flex;
    flex-direction: row;

    text-align: justify;

    border: 2px solid  #132a13;
    border-radius: 5px;

    background-color: rgba(0,0,0,.05);
}

.first .text{
    margin: 0;
    padding: 0;
}

.first p{
    width: 30%;

    font-size:calc(10px + 8 * (100vw - 320px) / 880);
    font-weight: 600;

}

.first_text{
    border-bottom: 2px solid #132a13;
    border-top: 2px solid #132a13;

    margin-bottom: 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.second_text{
    border-bottom: 2px solid #132a13;
    
    padding-bottom: 1vh;
}

/* FIRST END */

/* SECOND */
.second{
    width: 100%;
    height: 100vh;

    background: #000;
}
/* SECOND END */

/* THIRD */
.third{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third h1{
    font-size:calc(24px + 8 * (100vw - 320px) / 880);
}

.third .content{
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: row;

    align-items: center;


    border: 2px solid #132a13;
    border-radius: 20px;

}

.third .content .help{
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #132a13
}

/* THIRD END */

