@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --mgreen: #76c893bf;
    --lgreen: #9ee1b9;
    --dgreen: #4c9b6f;
    --pasgreen: #a5d6bc;

    --black-green: #132a13;
}

*{
    font-family: "Montserrat", sans-serif;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;

    color: var(--black-green);
}

body{
    background-color: var(--mgreen);
    color: var(--black-green)
}

.anchor{
    width: 2.5vw;
    height: 5vh;

    bottom: 10vh;
    left: 5vw;

    font-weight: 600;
    font-size: xx-large;

    position: fixed;

    color: var(--black-green);
    background-color: var(--mgreen);

    border: 2px solid var(--black-green);
    border-radius: 5px;

    cursor: pointer;

    display:none;

    transition: opacity 0.3s ease;

    opacity: 0;
}

/* HEADER */
header{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--black-green);

    overflow: hidden;
}

header .content{
    width: 60%;
    height: 80%;
}

.section1{
    height: 10vh;
}
header .section1 img{
    height: 15vh;

    top: 0;
    left: 2vw;
}

.section2{
    width: 70vw;
    height: 90vh;

    display: flex;
    flex-direction: row;
}

.section2 .left{
    width: 30%;
    height: 100%;

    font-size:calc(12px + 8 * (100vw - 320px) / 880);

    text-align: end;
    user-select: none;
}


.section2 .right{
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-size: xx-large;
    font-weight: 700;

    padding-top: 5vh;
    padding-left: 20px;
}

.section2 .right a{
    width: 60%;
    height: 10.7vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: 1px solid var(--black-green);

    transition: 1s;
}

.section2 .right a:hover{
    color:var(--mgreen);
    background-color: var(--black-green);

    transition: 1s;
}

/* HEADER END */

/* FIRST */
.first{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-top: 2px solid var(--black-green);
    border-bottom: 2px solid var(--black-green);
}

.first .content1{
    width: 35%;
    height: 90%;

    padding: 5vh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    text-align: justify;

    border-right: 2px solid  var(--black-green);

}

.first .text{
    width: 80%;
}

.first p{
    width: 100%;

    font-size:calc(10px + 8 * (100vw - 320px) / 880);
    font-weight: 600;

}

.first_text{
    border-bottom: 2px solid var(--black-green);

    margin-bottom: 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.wrapper{
    width: 36%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content2, .content3{
    width: 100%;
    height: 48%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content2{
    border-bottom: 2px solid var(--black-green);
}

.content3 img{
    width: 60%;
}

/* FIRST END */

/* SECOND */
.second{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid var(--black-green);
    
}

.second h1{
    font-size:calc(18px + 8 * (100vw - 320px) / 880);
}

.second .content{
    width: 80%;
    height: 90%;

    padding: 5vh;

    display: flex;
    flex-direction: column;

    font-size:calc(10px + 8 * (100vw - 320px) / 880);
}

.second .section1{
    height: 40%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 10vh;

    border-bottom: 2px solid var(--black-green)
}

.second .section1 p{
    width: 70%;

    text-align: justify;
}

.second .section1 img{
    height: 15vh;
}


.second .section2{
    height: 40%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.second .section2 p{
    width: 70%;

    text-align: justify;
}

.second .section2 img{
    height: 30vh;
}

/* SECOND END */

/* THIRD */
.third{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third h1{
    font-size:calc(24px + 8 * (100vw - 320px) / 880);
}

.third .content{
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.help {
    width: 20%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    border: 2px solid var(--black-green);
    border-radius: 5px;

    transition: 1s;


    overflow: hidden;
}

.help img {
    max-width: 100%;
}

/* THIRD END */

.up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent; /* Удаляем фон */
    border: none; /* Удаляем обводку */
    padding: 0; /* Уменьшаем внутренние отступы */
    width: 40px; /* Устанавливаем ширину кнопки */
    height: 40px; /* Устанавливаем высоту кнопки */
    cursor: pointer;
}

.up img {
    width: 100%;
}

/* FOOTER */
footer{
    height: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: rgb(118,200,147);
    background: linear-gradient(0deg, rgba(118,200,147,1) 82%, rgba(152,213,174,1) 100%);
}

footer .about{
    width: 25%;
    height: 100%;

    margin-left: 10vw;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: justify;

    font-size:calc(2px + 8 * (100vw - 320px) / 880);
}

footer .contacts{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-size:calc(10px + 8 * (100vw - 320px) / 880);
}
/* FOOTER END */



/* MEDIA */
@media screen and (max-width: 1280px) {
header .section2{
    flex-direction: column;
}

header .section2 .left{
    width: 80%;
    height: 30%;
    text-align: center;
}

header .section2 .right a{
    width: 100%;
}

.first{
    flex-direction: column;
}

.first .content1{
    width: 80%;
    border: none;
}

.first .wrapper{
    width: 80%;
}

.first .content2{
    border: none;
    width: 100%;
}

.first .content3{
    display: none;
    border: none;
}

footer p{
    font-size:calc(4px + 8 * (100vw - 320px) / 880);
}
}

@media (max-width: 1000px) {
    .first .content1{
        width: 90%;
    }
    
    .first .content2 img{
        width: 100vw;
    }

    .second .content{
        align-items: center;
        justify-content: center;
    }

    .second .content .section2{
        flex-direction: column;

        font-size:calc(12px + 8 * (100vw - 320px) / 880);
    }

    .second .content .section1{
        display: none;
    }

    .third .content {
        width: 90%;

        justify-content: space-evenly;
    }

    .anchor{
        top: -1555555555555555px;
    }
}

@media (max-width: 768px) {
    header img{
        display: none;
    }

    header .content .section2 .right{
        font-size:calc(18px + 8 * (100vw - 320px) / 880);
    }

    .first .content1 .first_text{
        display: none;
    }

    .first .content1 .second_text{
        font-size:calc(14px + 8 * (100vw - 320px) / 880);
    }

    .second .content{
        width: 100%;
    }

    .second .content .section2{
        width: 100%;
    }

    .third .content{
        flex-direction: column;
    }
    
    .third .content .help{
        width: 80%;
        height: 20%;
    }

    footer .about{
        display: none;
        font-size:calc(6px + 8 * (100vw - 320px) / 880);
    }

    footer .contacts{
        height: 80%;
    }
}

@media (max-width: 360px) {

    header .content .section2 .right{
        width: 100%;
        margin-left: -10vw;
    }

    .second .content .section2 p{
        width: 100%;
    }

    footer p{
        font-size:calc(7px + 8 * (100vw - 320px) / 880);
    }
}

@media (max-height: 800px) {
    header .content .section1{
        display: none;
        height: 0;
        width: 0;
    }

    header .content .section2{
        height: 90vh;
    }

    .first .content1 .second_text{
        font-size:calc(12px + 8 * (100vw - 320px) / 880);
    }

    .second .content .section2 p{
        font-size:calc(10px + 8 * (100vw - 320px) / 880);
    }
}
/* MEDIA END */