@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --mgreen: #76c893bf;
    --lgreen: #9ee1b9;
    --dgreen: #4c9b6f;
    --pasgreen: #a5d6bc;

    --black-green: #132a13;
}

*{
    font-family: "Montserrat", sans-serif;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;

    color: var(--black-green);
}

body{
    background-color: var(--mgreen);
    color: var(--black-green)
}

/* HEADER */
header{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--black-green);

    overflow: hidden;
}

header .content{
    width: 60%;
    height: 80%;
}

.section1{
    height: 10vh;
}
header .section1 img{
    height: 15vh;

    top: 0;
    left: 2vw;

    position: fixed;
}

.section2{
    width: 70vw;
    height: 90vh;

    display: flex;
    flex-direction: row;
}

.section2 .left{
    width: 30%;
    height: 100%;

    font-size:calc(12px + 8 * (100vw - 320px) / 880);

    text-align: end;
    user-select: none;
}


.section2 .right{
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-size: xx-large;
    font-weight: 700;

    padding-top: 5vh;
    padding-left: 20px;
}

.section2 .right a{
    width: 60%;
    height: 10.7vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: 1px solid var(--black-green);

    transition: 1s;
}

.section2 .right a:hover{
    color:var(--mgreen);
    background-color: #132a13;

    transition: 1s;
}
/* HEADER END */

/* FIRST */
.first{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-top: 2px solid var(--black-green);
    border-bottom: 2px solid var(--black-green);
}

.first .content1{
    width: 35%;
    height: 90%;

    padding: 5vh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    text-align: justify;

    border-right: 2px solid  var(--black-green);

}

.first .text{
    width: 80%;
}

.first p{
    width: 100%;

    font-size:calc(10px + 8 * (100vw - 320px) / 880);
    font-weight: 600;

}

.first_text{
    border-bottom: 2px solid var(--black-green);

    margin-bottom: 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.wrapper{
    width: 36%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content2, .content3{
    width: 100%;
    height: 48%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content2{
    border-bottom: 2px solid var(--black-green);
}

.content3 img{
    width: 60%;
}

/* FIRST END */

/* SECOND */
.second{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid var(--black-green);
    
}

.second h1{
    font-size:calc(18px + 8 * (100vw - 320px) / 880);
}

.second .content{
    width: 80%;
    height: 90%;

    padding: 5vh;

    display: flex;
    flex-direction: column;

    font-size:calc(10px + 8 * (100vw - 320px) / 880);
}

.second .section1{
    height: 40%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 10vh;

    border-bottom: 2px solid var(--black-green)
}

.second .section1 p{
    width: 70%;

    text-align: justify;
}

.second .section1 img{
    height: 15vh;
}


.second .section2{
    height: 40%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.second .section2 p{
    width: 70%;

    text-align: justify;
}

.second .section2 img{
    height: 30vh;
}

/* SECOND END */

/* THIRD */
.third{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third h1{
    font-size:calc(24px + 8 * (100vw - 320px) / 880);
}

.third .content{
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.third button{
    background-color: var(--mgreen); /* Change to your preferred color */
    color: white; /* Text color */
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    outline: none; /* Removes the outline to provide a cleaner look */
}

.third button:hover{
    background-color: var(--dark-green); /* Darker shade for hover effect */
    transform: translateY(-3px); /* Slight lift effect on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for 3D effect */
}

.third button:active {
    background-color: var(--dark-green); /* Same as hover or even darker for click effect */
    transform: translateY(1px); /* Pushes the button down when clicked */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Smaller shadow for clicked state */
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation: appear 0.4s ease-out forwards;
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
  

/* THIRD END */

